<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Corona Detector</title>
  </head>
  <body>
    

    <div class="container-fluid" style="background-color: rebeccapurple; height: 65px;">
    
                    <center><h1 style="color: white;">COVID-19 Detection Machine</h1></center>
                    <br><br><br>

    </div>

    <div class="container">
        <form action="/" method="post">
  <div class="form-group">
    <br><br>
    <br>
    <label for="fever">Enter Fever Value</label>
    <input type="text" class="form-control" id="fever" name="fever" placeholder="Enter Fever Value">
  </div>

            <div class="form-group">
    <label for="age">Enter Age Value</label>
    <input type="text" class="form-control" id="age" name="age" placeholder="Enter Your Age">
  </div>

  <div class="form-group">
    <label for="pain">Body Pain</label>
    <select class="form-control custom-select" name="pain" id="pain">
      <option value="0">No Pain</option>
      <option value="1">Sevier Pain</option>
    </select>
  </div>

            <div class="form-group">
    <label for="runnynose">Runny nose</label>
    <select class="form-control custom-select" name="runnynose" id="runnynose">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
  </div>

                   <div class="form-group">
    <label for="breath">Breathing Difficulty</label>
    <select class="form-control custom-select" name="breath" id="breath">
      <option value="-1">No Difficulty</option>
        <option value="0">Little Bit</option>
      <option value="1">Severe Difficulty</option>
    </select>
  </div>

           <center> <button class="btn btn-primary" type="submit">Submit</button> </center>
</form>
    </div>

<br>
    <div class="container-fluid" style="background-color: rebeccapurple; height: 50px;">
    
      <center><span class="copyright" style="color: white;">&copy; Syed Hanad Muqaddar. All Rights Reserved</span></center>
      <center><span style="color: white;">Designed By Syed Hanad Muqaddar</span></center>

     </div>

   
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>